Should install library using:

`pip install python-docx`

Add ! before command to execute in notebook.

In [43]:
from docx import Document
import pandas as pd


def get_text(filename):
    doc = Document(filename)
    fullText = []
    for para in doc.paragraphs:
        fullText.append(para.text.strip())
    return ';'.join(fullText)

In [49]:
import os

folder = 'D:/data/26109137-2020-12-11/'
result_df = pd.DataFrame()
total = 0
for file_ in os.listdir(folder):
    if file_.endswith('docx'):
        line_text = get_text(folder+file_)
        if ';' in line_text:
            current = str.split(line_text, ';')
        else:
            current = str.split(line_text, '\n')
        current_len = len(current)
        total+=current_len
        df = pd.DataFrame(current)
#        print(file_,line_text, current, current_len)
    if file_.endswith('xlsx'):
        df = pd.read_excel(folder+file_, header = None)
        df[0] = df[0].str[:-1]
        # print(file_,line_text, df)
    result_df = pd.concat([result_df, df])

result_df

                    0
0   BTT20402011001107
1   BTT20402011000688
2   BTT20402011000681
3   BTT20402011000690
4   BTT20402011001082
..                ...
39  BTT20402011001452
40  BTT20402011001184
41  BTT20402011001340
42  BTT20402011001343
43  BTT20402011001344

[5009 rows x 1 columns]

In [50]:
result_df.replace("", float("NaN"), inplace=True)
result_df.dropna(inplace=True)
result_df.to_csv('./result.csv', encoding='utf_8_sig', index=False)
result_df

                    0
0   BTT20402011001107
1   BTT20402011000688
2   BTT20402011000681
3   BTT20402011000690
4   BTT20402011001082
..                ...
39  BTT20402011001452
40  BTT20402011001184
41  BTT20402011001340
42  BTT20402011001343
43  BTT20402011001344

[5000 rows x 1 columns]